In [3]:
import pandas as pd
import bson, sys, csv
sys.path.insert(0, '/Users/colinbrochard/DSI_Capstone_local/MtProjRec/1_data_coll/')
import mt_scrape_helpers as mh
%load_ext autoreload
%autoreload 2

In [4]:
filepath_5 = '/Users/colinbrochard/DSI_Capstone_local/MtProjRec/2_data/4_dumps/dump_5/routes_db/routes_db.bson'

In [6]:
bson_file_5 = open(filepath_5, 'rb')
b_5 = bson.decode_all(bson_file_5.read())

In [7]:
df_5 = pd.DataFrame(b_5)

In [13]:
data = []
for row in df_5.iterrows():
    parsed = mh.parse_stats(dict(row[1]))
    data += parsed

with open('/Users/colinbrochard/DSI_Capstone_local/MtProjRec/2_data/rus_5.csv','w') as out:
    csv_out=csv.writer(out)
    csv_out.writerow(['route','user','num_stars'])
    for row in data:
        csv_out.writerow(row)

In [14]:
df_rus_5 = pd.read_csv('/Users/colinbrochard/DSI_Capstone_local/MtProjRec/2_data/rus_5.csv')

In [15]:
df_rus_5.shape

(112239, 3)

In [16]:
df_rus_5.head()

       route       user  num_stars
0  105880551  105880238          3
1  105880551  107228211          3
2  105880551  105921540          3
3  105880551  108283397          3
4  105880551  109811571          3

In [19]:
df_rus_5['user'].nunique()

17400